appdirs==1.4.4
argh==0.26.2
async-generator==1.10
atomicwrites==1.4.0
black==19.10b0
brotlipy==0.7.0
certifi==2021.5.30
cycler==0.10.0
cytoolz==0.11.0
dask-searchcv==0.2.0
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
HeapDict==1.0.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jsonify==0.5
locket==0.2.1
mccabe==0.6.1
mypy-extensions==0.4.3
olefile==0.46
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
QDarkStyle==2.8.1
QtPy==1.9.0
scikit-image==0.18.1
Send2Trash==1.5.0
terminado==0.9.4
webencodings==0.5.1
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
zict==2.0.0
requests
sklearn
numpy
